@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
/*--------------RESPONSIVE----------*/
/* extra Small Devices*/
/*Small Devices*/
/*Medium devices*/
/*Large Devices*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
.sinPadding {
  padding: 0;
}

/* Estilos del menu  Bootstrap*/
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
}

@media only screen and (min-width: 0px) {
  .navbar {
    background-color: rgba(15, 15, 15, 0.9);
  }
}

@media only screen and (min-width: 991px) {
  .navbar {
    background-color: unset;
  }
}

.navbar .navbar-nav .nav-item {
  width: 100%;
  margin: 5px;
  padding: 5px;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #b1b1b1;
  margin-top: .2rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  bottom: 0;
  left: 0;
}

.navbar .navbar-nav .nav-item::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #b1b1b1;
  margin-top: .2rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  top: 0;
  right: 0;
}

.navbar .navbar-nav .nav-item:hover::after, .navbar .navbar-nav .nav-item:hover::before {
  width: 100%;
}

.navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #b1b1b1;
  display: block;
  font-size: .9rem;
  letter-spacing: .3rem;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-toggler {
  border: 1px solid #fff;
  padding: .5rem 1rem;
}

.navbar-toggler i {
  font-size: 1.5rem;
  font-weight: 100;
  color: #fff;
}

.navbar-expand-lg {
  width: 100%;
}

/*COMPONENTE OFFCANVAS DE BOOTSRAP*/
.canvas-btn {
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 3;
  background-color: #0f0f0f;
  color: #b1b1b1;
  border: 1px solid #b1b1b1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.canvas-btn:hover {
  background-color: #0F0F0F;
  color: #fff;
}

.canvas-btn:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(177, 177, 177, 0.2);
          box-shadow: 0 0 0 0.25rem rgba(177, 177, 177, 0.2);
}

@media only screen and (min-width: 0px) {
  .canvas-btn {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .canvas-btn {
    display: block;
  }
}

@media only screen and (min-width: 991px) {
  .canvas-btn {
    display: block;
  }
}

.offcanvas {
  background-color: #0F0F0F;
  color: #b1b1b1;
}

.offcanvas .offcanvas-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offcanvas h5 {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 10px;
  text-align: center;
  color: #b1b1b1;
}

.offcanvas .offcanvas-body {
  text-align: center;
}

.offcanvas .offcanvas-body img {
  opacity: .6;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.offcanvas .offcanvas-body img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

/* Estilos del menu */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 0;
}

nav a .logo {
  max-width: 100px;
  width: 100%;
  opacity: .5;
}

nav a .logoMovil {
  max-width: 60px;
  width: 100%;
  display: none;
}

nav .menuBurger {
  display: inline-block;
  text-decoration: none;
  color: #b1b1b1;
  display: none;
}

nav .menuBurger i {
  font-size: 1.5rem;
}

/*ESTILOS FOOTER*/
.footer {
  background-color: #000;
  margin-bottom: 0;
  padding: 2rem 0;
}

.footer__content__logo {
  display: block;
  max-width: 100px;
  width: 100%;
  margin: 0 auto;
  opacity: .5;
}

.footer__content__sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__content__sociales a {
  text-decoration: none;
  display: inline-block;
  color: #b1b1b1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.footer__content__sociales a:hover {
  color: #fff;
}

.footer__content__sociales a i {
  font-size: 2rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.footer__content__sociales a i:hover {
  font-size: 2.1rem;
}

@media only screen and (min-width: 0px) {
  .footer {
    background-color: rgba(15, 15, 15, 0.9);
  }
}

@media only screen and (min-width: 991px) {
  .footer {
    background-color: unset;
  }
}

/*--------------RESPONSIVE----------*/
/* extra Small Devices*/
/*Small Devices*/
/*Medium devices*/
/*Large Devices*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #0F0F0F;
          box-shadow: inset 0 0 5px #0F0F0F;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}

::-moz-selection {
  background-color: #b1b1b1;
  color: #b1b1b1;
}

::selection {
  background-color: #b1b1b1;
  color: #b1b1b1;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  background-color: #000;
}

h1 {
  margin: 2rem 0;
  font-size: 4rem;
  color: #b1b1b1;
}

h2 {
  color: #b1b1b1;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 10px;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 0px) {
  h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 575px) {
  h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 991px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  color: #b1b1b1;
}

@media only screen and (min-width: 0px) {
  h3 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 575px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 991px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  color: #b1b1b1;
}

h5 {
  color: #fff;
  font-size: 1.5rem;
}

p {
  color: #b1b1b1;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media only screen and (min-width: 0px) {
  h1, h2, h3, h4, h5, h6, p {
    text-align: center;
  }
}

.boton {
  text-decoration: none;
  background-color: rgba(15, 15, 15, 0);
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
  display: inline-block;
  padding: 10px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  max-width: 200px;
  width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  left: 0;
  z-index: 3;
}

.boton:hover {
  background-color: #0F0F0F;
  left: 1%;
  color: #b1b1b1;
}

.container {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
}

.loader {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0F0F0F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.loader svg {
  max-width: 180px;
  width: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s linear alternate infinite;
          animation: dash 3s linear alternate infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*Estilos Generales para Bootstrap*/
.sinPadding {
  padding: 0;
}

.paddingTB {
  padding: 5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Banner*/
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.banner::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.496534)), color-stop(49%, rgba(0, 20, 19, 0.656198)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.496534) 0%, rgba(0, 20, 19, 0.656198) 49%, black 100%);
  z-index: 1;
}

.banner__fondo {
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: url("../img/home/fondo-home.jpg");
  position: absolute;
  top: 0;
  left: 0;
}

.banner__personas {
  background-image: url("../img/home/fondo-home2.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}

.banner__text {
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (min-width: 0px) {
  .banner__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.banner__text h1 {
  padding: 1rem .5rem;
  /* The typing effect */
  /* The typewriter cursor effect */
}

@media only screen and (min-width: 0px) {
  .banner__text h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .banner__text h1 {
    position: relative;
    font-size: 4em;
  }
}

@media only screen and (min-width: 991px) {
  .banner__text h1 {
    font-size: 5.5em;
    position: absolute;
    top: 35%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.03em solid #b1b1b1;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    -webkit-animation: typing 2.5s steps(25, end), blink-caret 0.75s step-end infinite;
            animation: typing 2.5s steps(25, end), blink-caret 0.75s step-end infinite;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #b1b1b1;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #b1b1b1;
  }
}

/*Estilos nosotros*/
.nosotros h2 {
  width: 100%;
}

@media only screen and (min-width: 991px) {
  .nosotros h2 {
    text-align: center;
  }
}

@media only screen and (min-width: 991px) {
  .nosotros p {
    text-align: center;
  }
}

.nosotros__perfil {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-position: top center;
  position: relative;
  overflow: hidden;
  background-size: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.nosotros__perfil::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(49%, rgba(0, 20, 19, 0.191212)), to(black));
  background: linear-gradient(180deg, black 0%, rgba(0, 20, 19, 0.191212) 49%, black 100%);
}

.nosotros__perfil--MaGapez {
  background-image: url("../img/home/MaGapez.png");
}

.nosotros__perfil--FanyGapez {
  background-image: url("../img/home/FanyGapez.png");
}

.nosotros__perfil__info {
  width: 100%;
}

.nosotros__perfil__info h3 {
  z-index: 2;
  position: relative;
  font-size: 3rem;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 10px;
  width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-shadow: 0px 0px 12px #0F0F0F;
}

.nosotros__perfil__info p {
  padding: 2rem 1rem;
  z-index: 2;
  position: relative;
  bottom: -400px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(49%, rgba(0, 0, 0, 0.378887)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.378887) 49%, black 100%);
}

.nosotros__perfil:hover article p {
  bottom: -10px;
}

.nosotros__perfil:hover {
  background-size: 105%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

@media only screen and (min-width: 0px) {
  .nosotros__perfil {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vh;
  }
}

@media only screen and (min-width: 768px) {
  .nosotros__perfil {
    background-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: initial;
    height: 70vh;
  }
}

/*Estilos servicios*/
.servicios {
  position: relative;
}

.servicios h2 {
  width: 100%;
}

@media only screen and (min-width: 991px) {
  .servicios h2 {
    text-align: center;
  }
}

@media only screen and (min-width: 991px) {
  .servicios p {
    text-align: center;
  }
}

.servicios__portada {
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  position: relative;
}

.servicios__portada::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.941912)), color-stop(49%, rgba(0, 20, 19, 0.289251)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.941912) 0%, rgba(0, 20, 19, 0.289251) 49%, black 100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1;
}

.servicios__portada--bodasXV {
  background-image: url("../img/home/bodasXV.jpg");
}

.servicios__portada--tematicas {
  background-image: url("../img/home/tematicas.jpg");
}

.servicios__portada--retratos {
  background-image: url("../img/home/retratos.jpg");
}

.servicios__portada__contenido {
  position: relative;
  z-index: 2;
  bottom: -200px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.servicios__portada__contenido h3 {
  margin-top: 1rem;
  text-shadow: 0px 0px 12px #0F0F0F;
}

@media only screen and (min-width: 0px) {
  .servicios__portada__contenido h3 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 991px) {
  .servicios__portada__contenido h3 {
    font-size: 2rem;
  }
}

.servicios__portada__contenido::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(49%, rgba(0, 0, 0, 0.378887)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.378887) 49%, black 100%);
  z-index: -1;
}

@media only screen and (min-width: 0px) {
  .servicios__portada__contenido {
    width: 100%;
  }
}

.servicios__portada:hover {
  cursor: pointer;
}

.servicios__portada:hover::after {
  opacity: .5;
}

.servicios__portada:hover .servicios__portada__contenido {
  bottom: 0;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 0px) {
  .servicios__portada {
    height: 70vh;
  }
}

@media only screen and (min-width: 768px) {
  .servicios__portada {
    height: 70vh;
  }
}

/*Estilos HOME-SESIONES*/
.sesiones h2 {
  width: 100%;
}

@media only screen and (min-width: 991px) {
  .sesiones h2 {
    text-align: center;
  }
}

@media only screen and (min-width: 991px) {
  .sesiones p {
    text-align: center;
  }
}

.sesiones__imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}

.sesiones__imagenes__foto {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-filter: grayscale(2);
          filter: grayscale(2);
  position: relative;
}

.sesiones__imagenes__foto--foto1 {
  background-image: url("../img/sesiones/img1.jpg");
}

.sesiones__imagenes__foto--foto2 {
  background-image: url("../img/sesiones/img2.jpg");
}

.sesiones__imagenes__foto--foto3 {
  background-image: url("../img/sesiones/img3.jpg");
}

.sesiones__imagenes__foto--foto4 {
  background-image: url("../img/sesiones/img4.jpg");
}

.sesiones__imagenes__foto--foto5 {
  background-image: url("../img/sesiones/img5.jpg");
}

.sesiones__imagenes__foto--foto6 {
  background-image: url("../img/sesiones/img6.jpg");
}

.sesiones__imagenes__foto::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.978326)), color-stop(49%, rgba(1, 27, 22, 0.729027)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.978326) 0%, rgba(1, 27, 22, 0.729027) 49%, black 100%);
  opacity: .9;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sesiones__imagenes__foto:hover {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  background-position: top center;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  cursor: pointer;
}

.sesiones__imagenes__foto:hover::after {
  opacity: 0;
}

@media only screen and (min-width: 0px) {
  .sesiones__imagenes__foto {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 45vh;
    background-position: top;
  }
}

@media only screen and (min-width: 768px) {
  .sesiones__imagenes__foto {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 70vh;
  }
}

/*Estilos workshops*/
.workshops {
  overflow: hidden;
}

.workshops h2 {
  width: 100%;
}

@media only screen and (min-width: 991px) {
  .workshops h2 {
    text-align: center;
  }
}

@media only screen and (min-width: 991px) {
  .workshops p {
    text-align: center;
  }
}

.workshops__articulo {
  min-height: 50vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
  transition: all .5s ease;
}

.workshops__articulo--workshop2 {
  background-image: url("../img/workshops/workshop2.jpg");
}

.workshops__articulo--workshop3 {
  background-image: url("../img/workshops/workshop3.jpg");
}

.workshops__articulo::after {
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.workshops__articulo__contenido {
  padding: 1rem;
  padding: 2rem;
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin: 0 auto;
  border-radius: 1rem;
  z-index: 2;
  text-align: center;
}

.workshops__articulo__contenido a {
  text-decoration: none;
  display: block;
}

.workshops__articulo__contenido::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #b1b1b1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.workshops__articulo__contenido::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #b1b1b1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.workshops__articulo:hover .workshops__articulo__contenido {
  background-color: rgba(0, 0, 0, 0.9);
}

.workshops__articulo:hover .workshops__articulo__contenido::after {
  width: 0;
}

.workshops__articulo:hover .workshops__articulo__contenido::before {
  width: 0;
}

.workshops__articulo:hover {
  background-position: inherit;
}

.workshops__articulo:hover::after {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.496534)), color-stop(49%, rgba(0, 20, 19, 0.300455)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.496534) 0%, rgba(0, 20, 19, 0.300455) 49%, black 100%);
}

@media only screen and (min-width: 0px) {
  .workshops__articulo {
    height: 60vh;
  }
}

/*Estilos Blog*/
.blog {
  background-image: url("../img/home/fondo-blog.png");
  background-position: center center;
  background-size: cover;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.blog::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.978326)), color-stop(49%, rgba(1, 27, 22, 0.039951)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.978326) 0%, rgba(1, 27, 22, 0.039951) 49%, black 100%);
  z-index: 1;
  opacity: .8;
}

.blog h2 {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.blog__articulo h3 {
  text-align: center;
  margin: 1em auto;
  line-height: 2.5rem;
  position: relative;
  z-index: 2;
}

.blog__articulo a {
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 0px) {
  .blog {
    padding: 2rem;
    height: 100vh;
  }
}

/*INICIA SECCION NOSOTROS*/
.team__content {
  margin-top: 5em;
  margin-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 0px) {
  .team__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__content__contentPerson, .team__content__portada {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (min-width: 991px) {
  .team__content__contentPerson h2, .team__content__portada h2 {
    font-size: 3.5rem;
    letter-spacing: .3rem;
    margin: 0;
  }
}

@media only screen and (min-width: 0px) {
  .team__content__contentPerson, .team__content__portada {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .team__content__contentPerson, .team__content__portada {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.team__content__portada {
  position: relative;
}

.team__content__portada::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.978326)), color-stop(49%, rgba(1, 27, 22, 0.039951)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.978326) 0%, rgba(1, 27, 22, 0.039951) 49%, black 100%);
}

@media only screen and (min-width: 0px) {
  .team__content__portada {
    height: 70vh;
  }
}

.team__content--personOne .team__content__portada {
  background-image: url("../img/nosotros/fani-gapez-vertical.jpg");
  background-position: center center;
  background-size: cover;
}

@media only screen and (min-width: 0px) {
  .team__content--personOne .team__content__portada {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.team__content--personOne .team__content__contentPerson {
  padding: 3rem;
}

@media only screen and (min-width: 0px) {
  .team__content--personOne .team__content__contentPerson {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 1rem;
  }
}

@media only screen and (min-width: 991px) {
  .team__content--personOne .team__content__contentPerson h2 {
    text-align: left;
    position: relative;
    left: -6rem;
  }
}

@media only screen and (min-width: 0px) {
  .team__content--personOne .team__content__contentPerson p {
    text-align: center;
  }
}

@media only screen and (min-width: 991px) {
  .team__content--personOne .team__content__contentPerson p {
    text-align: left;
    margin-top: .5rem;
  }
}

.team__content--personOne .team__content__contentPerson a {
  margin: 0 auto;
  display: block;
}

.team__content--personTwo .team__content__portada {
  background-image: url("../img/nosotros/mama-gapez-vertical.jpg");
  background-position: center center;
  background-size: cover;
}

@media only screen and (min-width: 0px) {
  .team__content--personTwo .team__content__portada {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.team__content--personTwo .team__content__contentPerson {
  padding: 3rem;
}

@media only screen and (min-width: 0px) {
  .team__content--personTwo .team__content__contentPerson {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 1rem;
  }
}

@media only screen and (min-width: 991px) {
  .team__content--personTwo .team__content__contentPerson h2 {
    text-align: right;
    position: relative;
    right: -6rem;
    z-index: 2;
  }
}

@media only screen and (min-width: 0px) {
  .team__content--personTwo .team__content__contentPerson p {
    text-align: center;
  }
}

@media only screen and (min-width: 991px) {
  .team__content--personTwo .team__content__contentPerson p {
    text-align: right;
    margin-top: .5em;
  }
}

@media only screen and (min-width: 0px) {
  .team__content--personTwo .team__content__contentPerson a {
    float: initial;
    margin: 0 auto;
    display: block;
  }
}

@media only screen and (min-width: 991px) {
  .team__content--personTwo .team__content__contentPerson a {
    float: right;
  }
}

@media only screen and (min-width: 0px) {
  .team__content--personOne__portada, .team__content--personTwo__portada {
    height: 70vh;
  }
}

@media only screen and (min-width: 0px) {
  .team__content--personOne__portada p, .team__content--personTwo__portada p {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .team__content--personOne .team__content__contentPerson, .team__content--personOne .team__content__portada, .team__content--personTwo .team__content__contentPerson, .team__content--personTwo .team__content__portada {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (min-width: 991px) {
  .team__content--personOne .team__content__portada, .team__content--personTwo .team__content__portada {
    height: 90vh;
  }
}

/*TERMINA SEECION NOSOTROS*/
/*INICIA SECCION SERVICIOS*/
.pageServicios {
  margin-top: 5rem;
}

.pageServicios__contServicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.pageServicios__contServicio__portada {
  height: 100vh;
  width: 50%;
  background-size: cover;
  background-position: top center;
  border-radius: 10px;
  position: relative;
}

.pageServicios__contServicio__portada::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(49%, rgba(1, 27, 22, 0.250035)), to(black));
  background: linear-gradient(180deg, black 0%, rgba(1, 27, 22, 0.250035) 49%, black 100%);
}

@media only screen and (min-width: 0px) {
  .pageServicios__contServicio__portada {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    height: 70vh;
  }
}

@media only screen and (min-width: 768px) {
  .pageServicios__contServicio__portada {
    width: 50%;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

.pageServicios__contServicio__portada--portada1 {
  background-image: url(../img/home/bodasXV.jpg);
}

.pageServicios__contServicio__portada--portada2 {
  background-image: url(../img/home/tematicas.jpg);
}

.pageServicios__contServicio__portada--portada3 {
  background-position: center center;
  background-image: url(../img/home/retratos.jpg);
}

@media only screen and (min-width: 0px) {
  .pageServicios__contServicio__portada--portada3 {
    background-position: top;
  }
}

@media only screen and (min-width: 991px) {
  .pageServicios__contServicio__portada--portada3 {
    background-position: initial;
  }
}

.pageServicios__contServicio__contenido {
  width: 50%;
  text-align: center;
  position: relative;
}

.pageServicios__contServicio__contenido::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/home/bg-colibri.png);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 0px) {
  .pageServicios__contServicio__contenido::before {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .pageServicios__contServicio__contenido::before {
    visibility: visible;
  }
}

@media only screen and (min-width: 0px) {
  .pageServicios__contServicio__contenido h2 {
    line-height: 3rem;
  }
}

@media only screen and (min-width: 991px) {
  .pageServicios__contServicio__contenido h2 {
    font-size: 3rem;
    margin: 0;
  }
}

@media only screen and (min-width: 991px) {
  .pageServicios__contServicio__contenido p {
    margin-top: 1rem;
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 0px) {
  .pageServicios__contServicio__contenido {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .pageServicios__contServicio__contenido {
    width: 48%;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

/*TERMINA SEECION SERVICIOS*/
/*INICIA SECCION SESIONES*/
.banner-sesiones {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 0px) {
  .banner-sesiones {
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 768px) {
  .banner-sesiones {
    margin-top: 8rem;
  }
}

@media only screen and (min-width: 991px) {
  .banner-sesiones {
    margin-top: 6rem;
    background: none;
  }
}

@media only screen and (min-width: 991px) {
  .banner-sesiones {
    margin-top: 3rem;
    background-image: url("../img/home/fondo-blog.png");
    background-position: top center;
    background-size: cover;
  }
}

.banner-sesiones h1 {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 10px;
}

.pageSesiones {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.pageSesiones__gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 1rem;
  padding: 1rem;
  grid-auto-flow: dense;
}

@media only screen and (min-width: 0px) {
  .pageSesiones__gridContainer {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .pageSesiones__gridContainer {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 991px) {
  .pageSesiones__gridContainer {
    margin-top: 1rem;
  }
}

.pageSesiones__gridContainer__gridItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.pageSesiones__gridContainer__gridItem--wide {
  /*  Responsive para secciion de Sesiones*/
}

@media (min-width: 600px) {
  .pageSesiones__gridContainer__gridItem--wide {
    grid-column: span 2;
  }
}

.pageSesiones__gridContainer__gridItem--tall {
  /*  Responsive para secciion de Sesiones*/
}

@media (min-width: 600px) {
  .pageSesiones__gridContainer__gridItem--tall {
    grid-row: span 2;
  }
}

.pageSesiones__gridContainer__gridItem:nth-child(1) {
  background-image: url("../img/sesiones/img1.jpg");
}

.pageSesiones__gridContainer__gridItem:nth-child(2) {
  background-image: url("../img/sesiones/img2.jpg");
}

.pageSesiones__gridContainer__gridItem:nth-child(3) {
  background-image: url("../img/sesiones/img3.jpg");
}

.pageSesiones__gridContainer__gridItem:nth-child(4) {
  background-image: url("../img/sesiones/img4.jpg");
}

.pageSesiones__gridContainer__gridItem:nth-child(5) {
  background-image: url("../img/sesiones/img5.jpg");
}

.pageSesiones__gridContainer__gridItem:nth-child(6) {
  background-image: url("../img/sesiones/img6.jpg");
}

.pageSesiones__gridContainer__gridItem:nth-child(7) {
  background-image: url("../img/sesiones/img7.jpg");
}

.pageSesiones__gridContainer__gridItem:nth-child(8) {
  background-image: url("../img/sesiones/img8.jpg");
}

.pageSesiones__gridContainer__gridItem:nth-child(9) {
  background-image: url("../img/sesiones/img9.jpg");
}

.pageSesiones__gridContainer__gridItem:nth-child(10) {
  background-image: url("../img/sesiones/img10.jpg");
}

.pageSesiones__gridContainer__gridItem:hover {
  -webkit-filter: grayscale(0.9);
          filter: grayscale(0.9);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*TERMINA SECCION SESIONES*/
/*INICIA SECCION WORKSHOPS*/
.banner-movil-workshops {
  margin-top: 1rem;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 0px) {
  .banner-movil-workshops {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 768px) {
  .banner-movil-workshops {
    margin-top: 3rem;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 991px) {
  .banner-movil-workshops {
    display: none;
  }
}

.banner-movil-workshops h1 {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 10px;
}

.banner-movil-workshops h3 {
  line-height: 1.9rem;
  margin: 0;
}

.bannerWorkshop .carousel .carousel-inner .carousel-item {
  position: relative;
}

.bannerWorkshop .carousel .carousel-inner .carousel-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(49%, rgba(1, 27, 22, 0.250035)), to(black));
  background: linear-gradient(180deg, black 0%, rgba(1, 27, 22, 0.250035) 49%, black 100%);
  mix-blend-mode: multiply;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.bannerWorkshop .carousel .carousel-inner .carousel-item h1 {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 0px) {
  .bannerWorkshop .carousel .carousel-inner .carousel-item h1 {
    width: 100%;
    font-size: 2.5rem;
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .bannerWorkshop .carousel .carousel-inner .carousel-item h1 {
    font-size: 3rem;
  }
}

.bannerWorkshop .carousel .carousel-inner .carousel-item p {
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 0px) {
  .bannerWorkshop .carousel {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .bannerWorkshop .carousel {
    display: none;
  }
}

@media only screen and (min-width: 991px) {
  .bannerWorkshop .carousel {
    display: block;
  }
}

.pageWorkshops {
  max-width: 1500px;
  width: 100%;
}

@media only screen and (min-width: 0px) {
  .pageWorkshops {
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 768px) {
  .pageWorkshops {
    margin-top: 6rem;
  }
}

.pageWorkshops__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1 span, 2 span))[autofit];
      grid-template-columns: repeat(autofit, minmax(1 span, 2 span));
  gap: 1rem;
  grid-auto-flow: dense;
}

.pageWorkshops__grid__principal, .pageWorkshops__grid__second {
  background-color: #b1b1b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 0px) {
  .pageWorkshops__grid__principal, .pageWorkshops__grid__second {
    grid-column: 1 span;
  }
}

@media only screen and (min-width: 0px) {
  .pageWorkshops__grid__principal {
    min-height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .pageWorkshops__grid__principal {
    grid-column: 2 span;
  }
}

.pageWorkshops__grid__second {
  background-position: center center;
  background-size: cover;
  border-radius: 15px;
}

@media only screen and (min-width: 0px) {
  .pageWorkshops__grid__second {
    height: 40vh;
  }
}

@media only screen and (min-width: 991px) {
  .pageWorkshops__grid__second {
    height: 60vh;
  }
}

.pageWorkshops__grid__second:nth-child(2) {
  background-image: url("../img/workshops/workshop2.jpg");
}

.pageWorkshops__grid__second:nth-child(3) {
  background-image: url("../img/workshops/workshop3.jpg");
}

.pageWorkshops__grid__second:nth-child(4) {
  background-image: url("../img/workshops/workshop4.jpg");
}

.pageWorkshops__grid__second:nth-child(5) {
  background-image: url("../img/workshops/workshop5.jpg");
}

/*TERMINA SEECION WORKSHOPS*/
/*INICIA SECCION BLOG*/
.banner-blog {
  margin-top: 1rem;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 0px) {
  .banner-blog {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 768px) {
  .banner-blog {
    margin-top: 3rem;
  }
}

.banner-blog h1 {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 10px;
}

.banner-blog h3 {
  line-height: 1.9rem;
  margin: 0;
}

.pageBlog {
  margin-top: 1rem;
}

.pageBlog__body {
  padding: 1rem;
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid {
    /*Responsive  para seccion Blog*/
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 2px auto;
        grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid__line {
    /*Responsive  para seccion Blog*/
    background-color: #b1b1b1;
    position: relative;
  }
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid__line::before, .pageBlog__body__grid__line::after {
    /*Responsive  para seccion Blog*/
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #b1b1b1;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -9px;
  }
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid__line::after {
    /*Responsive  para seccion Blog*/
    top: 100%;
    z-index: 1;
  }
}

.pageBlog__body__grid__articulo {
  padding: 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.pageBlog__body__grid__articulo:nth-child(1)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img1.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(1)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(2)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img2.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(2)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(3)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img3.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(3)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(4)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img4.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(4)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(5)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img5.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(5)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(6)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img6.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(6)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(7)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img7.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(7)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(8)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img8.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(8)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(9)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img9.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(9)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(10)::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/blog/img10.jpg");
  background-position: center center;
  background-size: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo:nth-child(10)::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.85);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.pageBlog__body__grid__articulo__date {
  font-size: 3rem;
  font-weight: bold;
  color: #b1b1b1;
  text-align: left;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 0px) {
  .pageBlog__body__grid__articulo__date {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid__articulo__date {
    /*Responsive  para seccion Blog*/
    font-size: 40px;
    font-size: 3rem;
    text-align: left;
  }
}

.pageBlog__body__grid__articulo__title {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 2rem;
  color: #b1b1b1;
  font-style: normal;
  text-transform: initial;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid__articulo__title {
    /*Responsive  para seccion Blog*/
    font-size: 25px;
    text-align: left;
  }
}

.pageBlog__body__grid__articulo__title__description {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1.5rem;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid__articulo__title__description {
    /*Responsive  para seccion Blog*/
    line-height: 1.3rem;
  }
}

.pageBlog__body__grid__articulo__title__description p {
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid__articulo__title__description p {
    /*Responsive  para seccion Blog*/
    text-align: left;
  }
}

.pageBlog__body__grid__articulo .boton {
  margin-top: 1rem;
}

@media only screen and (min-width: 0px) {
  .pageBlog__body__grid__articulo .boton {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid__articulo .boton {
    /*Responsive  para seccion Blog*/
    margin: 0;
  }
}

@media only screen and (min-width: 950px) {
  .pageBlog__body__grid__articulo--left .pageBlog__body__grid__articulo__date, .pageBlog__body__grid__articulo--left .pageBlog__body__grid__articulo__title, .pageBlog__body__grid__articulo--left .pageBlog__body__grid__articulo__description p {
    /*Responsive  para seccion Blog*/
    text-align: left;
  }
}

.pageBlog__body__grid__articulo--left .pageBlog__body__grid__articulo__description {
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 0px) {
  .pageBlog__body__grid__articulo {
    margin: 2rem auto;
  }
}

.pageBlog__body__grid__articulo:hover::before {
  background-size: 110%;
}

.pageBlog__body__grid__articulo:hover::after {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/*TERMINA SEECION BLOG*/
/*INICIA SECCION CONTACTO*/
.banner-contacto {
  height: 70vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/contacto/banner-contacto.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
}

.banner-contacto::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(49%, rgba(1, 27, 22, 0.373284)), to(black));
  background: linear-gradient(180deg, black 0%, rgba(1, 27, 22, 0.373284) 49%, black 100%);
}

.banner-contacto h1, .banner-contacto h3 {
  position: relative;
  z-index: 1;
}

.banner-contacto h1 {
  text-align: center;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 10px;
}

@media only screen and (min-width: 0px) {
  .banner-contacto h1 {
    font-size: 3rem;
    line-height: 3rem;
    padding: .5rem;
  }
}

@media only screen and (min-width: 991px) {
  .banner-contacto h1 {
    font-size: 5rem;
  }
}

.banner-contacto p {
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: center;
}

.pageContacto {
  padding: 3rem 0;
}

.pageContacto__form {
  width: 100%;
}

.pageContacto__form .form-control, .pageContacto__form .form-select {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  font-family: 'Nanum Myeongjo', serif;
  background-color: #000;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #b1b1b1;
  color: #b1b1b1;
}

.pageContacto__form .form-control:focus, .pageContacto__form .form-select:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(177, 177, 177, 0);
          box-shadow: 0 0 0 0.25rem rgba(177, 177, 177, 0);
}

.pageContacto__form label {
  color: #b1b1b1;
  margin-top: 3rem;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  display: block;
}

.pageContacto__form textarea {
  resize: none;
}

.pageContacto__form .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (min-width: 0px) {
  .pageContacto__form .botones {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.pageContacto__form .btn {
  border: none;
  color: #b1b1b1;
  max-width: 48%;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 0;
  margin-top: 3rem;
  border: 1px solid #b1b1b1;
  text-transform: uppercase;
  max-width: 350px;
}

.pageContacto__form .btn:hover {
  background-color: #0F0F0F;
}

/*TERMINA SEECION CONTACTO*/
/*Estilos pagina Error 404*/
.error {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__title {
  text-align: center;
}

.error__title strong {
  font-style: italic;
  color: #fff;
  font-size: 5.5rem;
}
