/*INICIA SECCION CONTACTO*/

.banner-contacto{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url("../img/contacto/banner-contacto.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;

    &::after{
        position: absolute;
        content: " ";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(1,27,22,0.373284347918855) 49%, rgba(0,0,0,1) 100%);
    }

    h1,h3{
        position: relative;
        z-index: 1;
    }

    h1{
        
        text-align: center;
        text-decoration: underline 2px;
        text-underline-offset: 10px;
        
        @include movil0{
            font-size: 3rem;
            line-height: 3rem;
            padding: .5rem;
        }
        
        @include movil991{
            font-size: 5rem;
        }
    }

    p{
        letter-spacing: .2rem;
        text-transform: uppercase;
        text-align: center;
    }

}

.pageContacto{
    padding: 3rem 0;

    &__form{
        width:100%;
        
        .form-control,.form-select{
                width: 100%;
                margin-top: 1rem;
                padding: 1rem;
                font-family: 'Nanum Myeongjo', serif;
                background-color: $black;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid $gray;
                color: $gray;

                &:focus{
                    box-shadow: 0 0 0 0.25rem rgba($gray,0);
                }
        }
        

        label{
            color: $gray;
            margin-top: 3rem;
            font-size: 1.2rem;
            display: inline-block;
            text-align: center;
            display: block;
            
        }

        textarea{
            resize: none;
        }

        .botones{
            display: flex;
            justify-content: space-evenly;
            
            @include movil0{
                flex-wrap: wrap;
            }
        }

        .btn{
            border: none;
            color: $gray;
            max-width: 48%;
            width: 100%;
            cursor: pointer;
            transition: all .5s ease;
            border-radius: 0;
            margin-top: 3rem;
            border: 1px solid $gray;
            text-transform: uppercase;
            max-width: 350px;

            &:hover{
                background-color: $gray-strong;
            }
        }

    }
    
}
/*TERMINA SEECION CONTACTO*/