@import "variables";
@import "tipografias";
@import "responsive";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $gray-strong; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $gray; 
  }

  ::selection{
      background-color: $gray;
      color: $gray;
  }

body{
    font-family: 'Nanum Myeongjo', serif;
    background-color: $black;
}



h1{
    margin: 2rem 0;
    font-size: 4rem;
    color: $gray;
}

h2{
    color: $gray; 
    text-decoration: underline 2px;
    text-underline-offset: 10px;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    
    

    @include movil0{
        font-size: 2rem;
    }

    @include movil575{
        font-size: 2rem;
    }

    @include movil991{
        font-size: 2.5rem;
    }
    
}

h3{
    color: $gray;

    @include movil0{
        font-size: 1rem;
    }

    @include movil575{
        font-size: 1.5rem;
    }

    @include movil991{
        font-size: 1.5rem;
    }
}

h4{
    color: $gray;
}

h5{
    color: $white;
    font-size: 1.5rem;
}

p{
    color:$gray;
    font-size: 1rem;
    line-height: 1.5rem;
}

h1,h2,h3,h4,h5,h6,p{
    @include movil0{
        text-align: center;
    }
}


.boton{
    text-decoration: none;
    background-color: rgba($gray-strong,0);
    border: 1px solid $gray;
    color: $gray;
    display: inline-block;
    padding: 10px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    max-width: 200px;
    width: 100%;
    transition: all .5s ease;
    position: relative;
    left: 0;
    z-index: 3;

    &:hover{
        background-color: $gray-strong;
        left: 1%;
        color: $gray;

    }
}


    
.container{
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;   
}


.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-strong;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    svg{
        max-width: 180px;
        width: 100%;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 3s linear alternate infinite;
    }
    
    @keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
    }
}






/*Estilos Generales para Bootstrap*/
.sinPadding{
    padding: 0;
}

.paddingTB{
    
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
}

