/* Estilos del menu */

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: absolute;
    width: 100%; 
    top: 0;
    
    a{
        .logo{
            max-width: 100px;
            width: 100%;
            opacity: .5;
        }

        .logoMovil{
            max-width: 60px;
            width: 100%;
            display: none;
        }
    }

    .menuBurger{
        display: inline-block;
        text-decoration: none;
        color: $gray;
        display: none;

        i{
            font-size: 1.5rem;
            
        }
    }

}
