/*Banner*/

.banner{
    width: 100%;
    height: $height;
    position: relative;
    overflow: hidden;

    &::after{
        position: absolute;
        content: " ";
        width: 100%;
        height: $height;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.49653364763874297) 0%, rgba(0,20,19,0.6561975131849616) 49%, rgba(0,0,0,1) 100%);
        z-index: 1;
    }

    &__fondo{
        background-position: top center;
        background-size: cover;
        width: 100%;
        height: $height;
        background-image: url('../img/home/fondo-home.jpg');
        position: absolute;
        top: 0;
        left: 0;
    }

    &__personas{
        background-image: url('../img/home/fondo-home2.jpg');
        width: 100%;
        height: $height;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__text{
        width: 100%;
        height: $height;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;

        @include movil0{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1{
            padding: 1rem .5rem;

            @include movil0{
                font-size: 3rem;
            }


            @include movil768{
                position: relative;
                font-size: 4em;

            }

            @include movil991{
                font-size: 5.5em;
                position: absolute;
                top: 35%;
                left: 30%;
                transform: translate(-50%, -50%);
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .03em solid $gray; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                animation: 
                typing 2.5s steps(25, end),
                blink-caret .75s step-end infinite;

            }

            /* The typing effect */
            @keyframes typing {
                from { width: 0 }
                to { width: 40% }
            }
            
            /* The typewriter cursor effect */
            @keyframes blink-caret {
                from, to { border-color: transparent }
                50% { border-color: $gray; }
            }
        }

    }
}




/*Estilos nosotros*/


.nosotros {
    h2{
        width: 100%;

        @include movil991{
            text-align: center;
        }

    }

    p{
        @include movil991{
            text-align: center;
        }  
    }

    &__perfil{
        height: 70vh;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-position: top center;
        position: relative;
        overflow: hidden;
        background-size: 100%;
        transition: all .5s ease;

        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,20,19,0.19121151878720233) 49%, rgba(0,0,0,1) 100%);
        }

        @each $perfil in MaGapez,FanyGapez{

            &--#{$perfil}{
                background-image: url('../img/home/#{$perfil}.png');
            }

        }

        
        &__info{
                width: 100%;

            h3{
                z-index: 2;
                position: relative;
                font-size: 3rem;
                text-decoration: underline 2px;
                text-underline-offset: 10px;
                width: 100%;
                transition: all .5s ease;
                text-shadow: 0px 0px 12px $gray-strong;
            }
            
            p{
                padding: 2rem 1rem;
                z-index: 2;
                position: relative;
                bottom: -400px;
                transition: all .5s ease;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.37888658881521353) 49%, rgba(0,0,0,1) 100%);
            }


        }

        &:hover{
            article{
                p{
                    bottom: -10px;
                }
            }
        }

        &:hover{
            background-size: 105%;
            transition: all .5s ease;
            cursor: pointer;
        }


        @include movil0{
            background-size: 100%;
            background-repeat: no-repeat;
            height: 70vh;
        }

        @include movil768{
            background-size: 100%;
            display: flex;
            align-items: flex-end;
            height: initial;
            height: 70vh;
        }
    }
    
}


/*Estilos servicios*/
.servicios {
    position: relative;


    h2{
        width: 100%;

        @include movil991{
            text-align: center;
        }

    }

    p{
        @include movil991{
            text-align: center;
        }  
    }

    &__portada{
        text-align: center;
        height:$height;
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-position: top center;
        overflow: hidden;
        position: relative;

        &::after{
            position: absolute;
            content: " ";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0.9419117988992471) 0%, rgba(0,20,19,0.28925073447347693) 49%, rgba(0,0,0,1) 100%);
            transition: all .5s ease;
            opacity: 1;
        }

        @each $portada in bodasXV,tematicas,retratos{
            
            &--#{$portada}{
                background-image: url('../img/home/#{$portada}.jpg');
            }

        }

        &__contenido{
            position: relative;
            z-index: 2;
            bottom: -200px;
            transition: all .5s ease;

            h3{
                margin-top: 1rem;
                text-shadow: 0px 0px 12px $gray-strong;
                
                @include movil0{
                    font-size: 2rem;
                }

                @include movil991{
                    font-size: 2rem;
                }
            }

            &::after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.37888658881521353) 49%, rgba(0,0,0,1) 100%);
                z-index: -1;

            }

            @include movil0{
                width: 100%;
            }
            
        }

        

        &:hover{
            cursor: pointer;

            &::after{
                opacity: .5;
            }

            .servicios{
                &__portada{

                    &__contenido{
                        bottom: 0;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
            
        }

        @include movil0{
            height: 70vh;
        }

        @include movil768{
            height: 70vh; 
        }
    }
}



/*Estilos HOME-SESIONES*/

.sesiones{

    h2{
        width: 100%;

        @include movil991{
            text-align: center;
        }

    }

    p{
        @include movil991{
            text-align: center;
        }  
    }

    &__imagenes{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        overflow: hidden;

        &__foto{
            display: inline-block;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: $height;
            flex-grow: 1;
            transition: all .5s;
            filter: grayscale(2);
            position: relative;

            @for $i from 1 through 6{

                &--foto#{$i}{
                    background-image: url('../img/sesiones/img#{$i}.jpg');
                }

            }
            
            &::after{
                position: absolute;
                content: " ";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,0.9783263647255778) 0%, rgba(1,27,22,0.7290266448376226) 49%, rgba(0,0,0,1) 100%);
                opacity: .9;
                transition: all .5s;
                
            }

            &:hover{
                flex-grow: 1.5;
                background-position: top center;
                filter: grayscale(0);
                cursor: pointer;

                &::after{
                    opacity: 0;
                }
            }

            @include movil0{
                flex-basis: 100%;
                flex-grow: 1;
                height: 45vh;
                background-position: top ;
            }

            @include movil768{
                flex-basis: auto;
                flex-grow: 1;
                height: 70vh;
            }
        }
    }
}

/*Estilos workshops*/

.workshops{
    overflow: hidden;
    h2{
        width: 100%;

        @include movil991{
            text-align: center;
        }

    }

    p{
        @include movil991{
            text-align: center;
        }  
    }

    &__articulo{
        min-height: ($height)-50;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 1rem;
        transition: all .5s ease;
        position: relative;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        transform: scale(1);
        z-index: 1;
        transition: all .5s ease;


        @for $i from 2 through 3{
            &--workshop#{$i}{
                background-image: url('../img/workshops/workshop#{$i}.jpg');
            }

        } 


        &::after{
            position: absolute;
            left:0;
            top: 0;
            content: " ";
            width:100%;
            height: 100%;
            background-color: rgba($black,.95);
            opacity: 1;
            transition: all 1s ease;
            
        }

        &__contenido{
            padding: 1rem;
            padding: 2rem;
            position: relative;
            transition: all .5s ease;
            margin: 0 auto;
            border-radius: 1rem;
            z-index: 2;
            text-align: center;

            a{
                text-decoration: none;
                display: block;
            }

            &::after{
                position: absolute;
                content: "";
                left:0;
                top: 0;
                width: 100%;
                height: 1px;
                background-color: $gray;
                transition: all .5s ease;
            }

            &::before{
                position: absolute;
                content: "";
                right:0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: $gray;
                transition: all .5s ease;
            }
        }

        &:hover{
            .workshops{
                &__articulo{
                    &__contenido{
                        background-color: rgba($black, 0.9);

                        &::after{
                            width: 0;
                        }

                        &::before{
                            width: 0;
                        }
                    }

                }
            }
        }

        &:hover{
            background-position: inherit;
            &::after{
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,0.49653364763874297) 0%, rgba(0,20,19,0.300455216266194) 49%, rgba(0,0,0,1) 100%);
            }
        }

        @include movil0{
            height: 60vh;
        }

        
    }

}





/*Estilos Blog*/
.blog{
    background-image: url('../img/home/fondo-blog.png');
    background-position: center center;
    background-size: cover;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;

    &::after{
        position: absolute;
        content: " ";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.9783263647255778) 0%, rgba(1,27,22,0.03995101458552175) 49%, rgba(0,0,0,1) 100%);
        z-index: 1; 
        opacity: .8; 
    }

    h2{
        margin-bottom: 0;
        position: relative;
        z-index: 2;
    }


    &__articulo{
        h3{
            text-align: center;
            margin: 1em auto;
            line-height: 2.5rem;
            position: relative;
            z-index: 2;
        }

        a{
            margin: 0 auto;
            display: block;
        }
    }

    @include movil0{
        padding: 2rem;
        height: $height;
    }
}





