/*INICIA SECCION NOSOTROS*/
.team__content{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    @include movil0{
        flex-wrap: wrap;   
    }

    &__contentPerson,&__portada{
        flex-basis: 50%;

        p{
            padding: 1rem;

            strong{
                font-size: 2rem;
            }
        }

        @include movil0{
            flex-basis: 100%;
        }

        @include movil768{
            flex-basis: 50%;
        }
    }

    &__portada{
        @include movil0{
            height: 70vh;
        }
    }


    
    &--personOne{
        .team__content{
            &__portada{
                background-image: url('../img/nosotros/fani-gapez-vertical.jpg');
                background-position: center center;
                background-size: cover;

                @include movil0{
                    order: 2;
                }
            }

            &__contentPerson{
                &__img2{
                    background-image: url('../img/nosotros/fani-gapez.jpg');
                    height: 70vh;
                    background-position: center center;
                    background-size: cover;      
                }

                @include movil0{
                    order: 1;
                }
            }
        }
    }


    &--personTwo{
        .team__content{

            &__portada{
                background-image: url('../img/nosotros/mama-gapez-vertical.jpg');
                background-position: center center;
                background-size: cover;

                @include movil0{
                    order: 1;
                }
            }
    
            &__contentPerson{
                &__img2{
                    background-image: url('../img/nosotros/mama-gapez.jpg');
                    height: 70vh;
                    background-position: center center;
                    background-size: cover;
                }

                @include movil0{
                    order: 2;
                }
            }

        }  
        
    }

    &--personOne,&--personTwo{
        &__portada{
            @include movil0{
                height: 70vh;
            }
            
            
            p{
                @include movil0{
                    text-align: center;
                }
                
            }
        }

        .team__content{
            &__contentPerson,&__portada{
                @include movil768{
                    order: 2;
                }
                
            }

            &__portada{
                @include movil768{
                    height: unset;
                } 
            }
        }


    }

    
}



/*TERMINA SEECION NOSOTROS*/