/*INICIA SECCION SERVICIOS*/
.pageServicios{
    margin-top: 5rem;

    &__contServicio{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1rem;

        &__portada{
            height: 80vh;
            width: 49%;
            background-size: cover;
            background-position: top center;
            border-radius: 10px;

            @include movil0{
                order: 1;
                width: 100%;
                height: 70vh;
            }

            @include movil768{
                width: 48%;
                order: initial;
            }

            &--portada1{
                background-image: url(../img/home/bodasXV.jpg); 
            }
        

        
            &--portada2{
                background-image: url(../img/home/tematicas.jpg);              
            }
        
        
            &--portada3{
                background-position: center center;
                background-image: url(../img/home/retratos.jpg);          
            }
        }

        &__contenido{
            width: 39%;
            text-align: center;

            @include movil0{
                order: 2;
                width: 100%;
                margin-top: 1rem;
            }

            @include movil768{
                width: 48%;
                order: initial;
            }
            
        }
    }

}

/*TERMINA SEECION SERVICIOS*/